@media(max-width: 900px){
    .contatoTituloImg{
        display: none;
    }
    .contato{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
    }
    .contatoBox{
        background-color: rgb(238, 238, 238);
        border-radius: 5vh;
        padding-top: 2vw;
        padding-bottom: 3vw;
        margin-right: 0.7vw;
        padding-left: 0.5vw;
        margin-top: -5vh;
        margin-left: 16vw;
    }
}

.contato{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    margin-left: -15vw;
    
    /*Arrumar depois*/
    position: relative;
    top: 15vh;
}

.contatoTituloImg{
    width: clamp(4em, 4em + 12vw, 20em);
    max-width: 50%;
    margin-left: 15vw;
}

.contatoConteudo{
    font-size: clamp(1em, 1em + 0.5vh, 3em);
    text-decoration: none;
}

.imgContato{
    width: 5vw;
    max-width: 100%;
    max-height: 100%;
}

img, p{
    display: inline-block;
}

.contatoBox{
    background-color: rgb(238, 238, 238);
    border-radius: 16px;
    padding-right: 1.2vw;
    padding-left: 0.5vw;
    margin-top: -5vh;
}

.ImgIcone{
    filter: invert(0);
}