@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&display=swap');

*{
    font-family: 'Nato Sans', sans-serif;
}

.container{
    display: flex;
    margin-left: 5rem;
}
.card{
    width: 300px;
    height: 500px;
    background-color: #7c6bc1;
    border-radius: 15px;
    margin-top: 100px;
}
.img{
    text-align: center;
    margin-top: 20px;
}
.first{
    background-color: white;
    border-radius: 50%;
}
.text{
    text-align: center;
    color: white;
    font-size: 25px;
}
.dica{
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.dica1{
    text-align: center;
    font-size: 14.5px;
    padding: 20px;
}
.card2{
    width: 300px;
    height: 500px;
    background-color: #7c6bc1;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 2rem;
}
.card3{
    width: 300px;
    height: 500px;
    background-color: #7c6bc1;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 2rem;
}
.card4{
    width: 300px;
    height: 500px;
    background-color: #7c6bc1;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 2rem;
}