#titulo{
    text-align: center;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(90deg, rgba(64,59,142,1) 0%, rgba(175,121,167,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr{
    border: none;
    height: 3.5px;
    background-color: rgb(175,121,167);
    color: rgb(175,121,167);
}

.metodologia {
    margin-bottom: 1rem;
}

.met-title {
    font-size: 25px;
}

.text {
    font-size: 20px;
    margin-left: 1%;
}
h3{
    background: -webkit-linear-gradient(90deg, rgba(64,59,142,1) 0%, rgba(175,121,167,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}

#container{
    margin-left: 4rem;
    margin-right: 24rem;
}
@media(max-width: 500px){
    #container{
        margin-left: 1.75rem;
        margin-right: 1.75rem;
    }
    #titulo{
        font-size: 1.25rem;
    }
    .met-title {
        font-size: 20px;
    }
    .text{
        font-size: 18px;
    }
}